div {
    text-align: center;
}

#field {
    margin: auto;
    width:400px;
    background-color: rgb(140, 140, 140);
    padding: 3px;
}

td {
    width: 30px;
    height: 30px;
    border: 1px solid navy;
    text-align: center;
    vertical-align: middle;
}

button {
    width: 100%;
    height: 100%;
    border: hidden;
    color: white;
    background-color: lightgray;
}